{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<!-- Header -->
<header id="header" class="header py-28 text-center md:pt-36 lg:text-left xl:pt-44 xl:pb-32">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="mb-16 mt-16 xl:mr-12">
            <h1 class="h1-large mb-5">Editeur ePoc <small>(beta)</small></h1>
            <p class="p-large mb-8">
                L'application de bureau permettant de concevoir, construire et publier votre propre formation de mobile learning au format ePoc.
            </p>
            <p class="p-large mb-8">Gratuit et open <a href="{{ config.repo_url }}" target="_blank">source</a>. Développé par <a href="https://inria.fr/">Inria</a>.</p>
            <h5 class="mb-5">Téléchargement :</h5>
            <a class="btn-solid-lg" href="{{ config.extra.editor_link_windows | replace('${EDITOR_VERSION}', config.extra.editor_version) }}">
                <i class="fab fa-windows"></i>Windows ({{ config.extra.editor_version }})
            </a>
            <a class="btn-solid-lg" href="{{ config.extra.editor_link_macos | replace('${EDITOR_VERSION}', config.extra.editor_version)  }}">
                <i class="fab fa-apple"></i>MacOS ({{ config.extra.editor_version }})
            </a>
            <a class="btn-solid-lg" href="{{ config.extra.editor_link_linux | replace('${EDITOR_VERSION}', config.extra.editor_version)  }}">
                <i class="fab fa-linux"></i>Linux ({{ config.extra.editor_version }})
            </a>
            <a class="btn-solid-lg" href="{{ config.repo_url }}" target="_blank">
                <i class="fa fa-code-branch"></i>Code source
            </a>
        </div>
        <div class="xl:text-right home-video">
            <iframe class="shadow-xl outline-none w-full"
                    src="https://www.youtube.com/embed/86lbMmM03FU?modestbranding=1&autohide=1&rel=0&showinfo=0"
                    title="YouTube video player"
                    allowfullscreen
            ></iframe>
        </div>
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

{% include "epoc-theme/newsletter.html" %}

<!-- Features -->
<div id="features" class="cards-1">
    <div class="container px-4 sm:px-8 xl:px-4">

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="/images/automated.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">ERGONOMIE</h5>
                <p class="mb-4">Interface de conception visuelle et intuitive sans compétences en codage requises</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="/images/science.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">TOUT EN UN</h5>
                <p class="mb-4">Des contenus prêts à l’emploi : textes, vidéos, quiz, activités</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="/images/securite.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">PEDAGOGIE</h5>
                <p class="mb-4">Scénario à embranchements, évaluation, attestation de réussite, badges</p>
            </div>
        </div>
        <!-- end of card -->

    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of features -->

<!-- Details 1 -->
<div id="details" class="pt-12 pb-16 lg:pt-16">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-7">
            <div class="xl:mr-14">
                <img class="inline" src="/images/editeur-video.png" alt="alternative" />
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-5">
            <div class="mt-16 lg:mt-0 xl:mt-24">
                <h2 class="mb-6">Prêt à l'emploi</h2>
                <p class="mb-4">Des contenus prêts à l’emploi et personnalisables selon vos besoins</p>
                <ul class="list mb-7 space-y-2">
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Vidéos, audios, textes</div>
                    </li>
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>QCU/QCM, Glisser-déposer, tri, swipe</div>
                    </li>
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Evaluation, attestation de réussite et badges</div>
                    </li>
                </ul>
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 1 -->


<!-- Details 2 -->
<div class="py-24">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-5">
            <div class="xl:mt-32">
                <h2 class="mb-6">Scénario pédagogique en quelques clics</h2>
                <p class="mb-4">
                    Construisez votre scénario pédagogique à embranchement à l'aide d'une interface visuelle et ergonomique
                </p>
                <!--<a class="btn-solid-reg popup-with-move-anim mr-1.5" href="#details-lightbox">Lightbox</a>
                <a class="btn-outline-reg" href="article.html">Details</a>-->
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-7">
            <div class="mb-12 lg:mb-0 xl:mr-14">
                <img class="inline" src="/images/editeur-scenario.png" alt="alternative" />
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 2 -->

<!-- VARIABLE INIT : DO NOT REMOVE
{% set epocs = [] %}
{% for nav_item in nav %}
    {% if nav_item.children %}
        {% for nav_item_child in nav_item.children %}
            {% if nav_item_child.meta is defined and 'E001DB' not in nav_item_child.url %}
                {{ epocs.append(nav_item_child) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
-->

<!-- Testimonials -->
<div class="slider-1 py-32 bg-gray">
    <div class="container px-4 sm:px-8">
        <h2 id="nos-epocs" class="mb-12 text-center lg:max-w-xl lg:mx-auto">Découvrez nos ePocs</h2>

        <!-- Card Slider -->
        <div class="slider-container">
            <div class="swiper-container card-slider">
                <div class="swiper-wrapper">
                    {% for epoc in epocs %}
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <a class="card" href="{{ epoc.url | url }}">
                                <img class="card-image" src="{{ epoc.meta.thumb | url }}" alt="Image ePoc {{ epoc.title }}" />
                                <div class="card-body">
                                    <p class="testimonial-author">{{ epoc.title }}</p>
                                    <p class="italic mt-3">{{epoc.meta.short}}</p>
                                </div>
                            </a>
                        </div> <!-- end of swiper-slide -->
                        <!-- end of slide -->
                    {% endfor %}
                </div> <!-- end of swiper-wrapper -->

                <!-- Add Arrows-->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->

            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
        <!-- end of card slider -->

    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->


<!-- Conclusion -->
<div id="Télécharger" class="basic-5">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2">
        <div class="mb-16 lg:mb-0">
            <img src="/images/swipe.png" alt="alternative" />
        </div>
        <div class="lg:mt-24 xl:mt-44 xl:ml-12">
            <p class="mb-9 text-gray-800 text-3xl leading-10">Télécharger l'app ePoc</p>
            <a class="btn-solid-lg" href="{{ page.meta.apple_link if page.meta.apple_link else config.extra.apple_link }}"><i class="fab fa-apple"></i>Télécharger</a>
            <a class="btn-solid-lg" href="{{ page.meta.google_link if page.meta.apple_link else config.extra.google_link }}"><i class="fab fa-google-play"></i>Télécharger</a>
        </div>
    </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of conclusion -->

{{ super() }}

{% endblock %}

{% block content %}
{% endblock %}
