{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<!-- Header -->
<header id="header" class="header pt-14 pb-8 text-center lg:text-left">
    <div class="container px-4 sm:px-8">
        <div class="mb-8 mt-16 text-center mx-auto" style="max-width: 48rem">
            <h1 class="h1-medium mb-5">Découvrez nos ePocs</h1>
            <p class="p-large mb-8">Les ePocs <a href="https://learninglab.inria.fr/" target="_blank">Inria Learning lab</a>, des formations courtes et ludiques sur le numérique, proposées par des experts scientifiques.</p>
        </div>
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

<!-- VARIABLE INIT : DO NOT REMOVE
{% set epocs = [] %}
{% for nav_item in nav %}
    {% if nav_item.children %}
        {% for nav_item_child in nav_item.children %}
            {% if nav_item_child.meta is defined and 'epoc.html' in nav_item_child.meta.template and 'E001DB' not in nav_item_child.url %}
                {{ epocs.append(nav_item_child) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
-->
<div id="details" class="pb-32">
    <div class="container px-4 sm:px-8 md:grid md:grid-cols-2 md:gap-x-6 md:gap-y-16 lg:grid-cols-4">
        {% for epoc in epocs %}
        <div class="w-full m-auto" style="max-width: 24rem">
            <div>
                <img class="inline w-96 shadow-md" src="{{ epoc.meta.thumb | url }}" alt="Image ePoc {{ epoc.title }}">
            </div>
            <div class="mb-16 lg:mb-0 xl:mt-16 text-center lg:text-left">
                <h2 class="mt-6 mb-2 text-lg h-14">{{ epoc.title }}</h2>
                <p class="mb-4 line-clamp-3">{{epoc.meta.short}}</p>
                <a class="text-red-600" href="/{{epoc.url}}">En savoir plus</a>
            </div>
        </div> <!-- end of col -->
        {% endfor %}
    </div> <!-- end of container -->
</div>

{% include "epoc-theme/newsletter.html" %}

<div class="container px-4 sm:px-8">
    <article class="prose lg:prose-xl" style="max-width:max-content;">
        {{ super() }}
    </article>
</div>


{% endblock %}

{% block content %}
{% endblock %}
