{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<!-- Header -->
<header id="header" class="header py-28 text-center md:pt-36 lg:text-left xl:pt-44 xl:pb-32">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="mb-16 lg:mt-32 xl:mt-40 xl:mr-12">
            <h1 class="h1-large mb-5">{{ page.meta.title }}</h1>
            <p class="p-large mb-8">{{ page.meta.description }}</p>
            {% if page.meta.private %}
                <p class="p-large mb-8 p-small">
                    <i class="fa fa-lock"></i></a> Cette formation est réservée au personnel Inria.
                </p>
            {% endif %}
            {% if page.meta.qrcode %}
            <h3 class="h3-large mb-5">Télécharger la formation</h3>
            <ol class="mb-4">
                <li>1. Télécharger l'application ePoc (<a class="underline" href="{{ page.meta.apple_link if page.meta.apple_link else config.extra.apple_link }}">iOS</a> ou <a class="underline" href="{{ page.meta.google_link if page.meta.google_link else config.extra.google_link }}">Android</a>)</li>
                <li>2. Cliquer sur le bouton ajouter un ePoc</li>
                <li>3. Scanner le QR Code ci -dessous :</li>
            </ol>
            <img src="{{page.meta.qrcode }}" alt="QR code pour télécharger {{ page.meta.title }}">
            {% else %}
            <a class="btn-solid-lg" href="{{ page.meta.apple_link if page.meta.apple_link else config.extra.apple_link }}">
                <i class="fab fa-apple"></i>Télécharger
            </a>
            <a class="btn-solid-lg" href="{{ page.meta.google_link if page.meta.google_link else config.extra.google_link }}">
                <i class="fab fa-google-play"></i>Télécharger
            </a>
            {% endif %}
        </div>
        <div class="xl:text-right">
            <img class="inline" src="{{ page.meta.img }}" alt="Screenshot {{ page.meta.title }}" />
        </div>
    </div> <!-- end of container -->
</header> <!-- end of header -->

{% include "epoc-theme/newsletter.html" %}

<div class="container px-4 sm:px-8">
    <article class="prose lg:prose-xl" style="max-width:max-content;">
        {{ super() }}
    </article>
</div>


{% endblock %}

{% block content %}
{% endblock %}
