{% extends "main.html" %}

{% block extrahead %}
<style>
    .md-main{
        display: none;
        padding: 0;
        height:0;
    }

    @media screen and (max-width: 76.1875em) {
        .md-main{
            display: block;
        }
    }
</style>
{{ super() }}
{% endblock %}

{% block hero %}
<!-- Header -->
<header id="header" class="header py-28 text-center md:pt-36 lg:text-left xl:pt-44 xl:pb-32">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="mb-16 lg:mt-32 xl:mt-40 xl:mr-12">
            <h1 class="h1-medium mb-5">ePoc, mobile learning free and open source</h1>
            <p class="p-large mb-8">ePoc (<b>E</b>lectronic <b>P</b>ocket <b>O</b>pen <b>C</b>ourse) is a complete mobile learning free and open source solution. Discover <a href="./epocs">our courses</a> or create your own using <a href="./editor">the editor</a>. </p>
            <p class="p-large mb-8">Free and <a href="{{ config.repo_url }}" target="_blank">open source</a>. Developed by <a href="https://inria.fr/" target="_blank">Inria</a>.</p>
            <a class="btn-solid-lg" href="{{ page.meta.apple_link if page.meta.apple_link else config.extra.apple_link }}"><i class="fab fa-apple"></i>Download</a>
            <a class="btn-solid-lg" href="{{ page.meta.google_link if page.meta.apple_link else config.extra.google_link }}"><i class="fab fa-google-play"></i>Download</a>
        </div>
        <div class="xl:text-right">
            <img class="inline" src="images/accueil.png" alt="alternative" />
        </div>
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

{% include "epoc-theme/newsletter.html" %}

<!-- Features -->
<div id="features" class="cards-1">
    <div class="container px-4 sm:px-8 xl:px-4">

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="images/automated.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Always with you</h5>
                <p class="mb-4">Your courses in your pocket for offline consulting anywhere and anytime.</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="images/science.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Playful</h5>
                <p class="mb-4">Playful and multimedia content to stay engaged.</p>
            </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
            <div class="card-image">
                <img src="images/securite.svg" alt="alternative" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Respect for privacy</h5>
                <p class="mb-4">No personal data collection is performed.</p>
            </div>
        </div>
        <!-- end of card -->

    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of features -->


<!-- Details 1 -->
<div id="details" class="pt-12 pb-16 lg:pt-16">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-7">
            <div class="xl:mr-14">
                <img class="inline" src="images/video.png" alt="alternative" />
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-5">
            <div class="mt-16 lg:mt-0 xl:mt-24">
                <h2 class="mb-6">Rich and varied content specially designed for mobile:</h2>
                <ul class="list mb-7 space-y-2">
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Short and scripted sequences.</div>
                    </li>
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Diversified content: videos, audio podcasts, infographics, interactive activities</div>
                    </li>
                    <li class="flex">
                        <i class="fas fa-chevron-right"></i>
                        <div>Quizzes to test your knowledge</div>
                    </li>
                </ul>
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 1 -->


<!-- Details 2 -->
<div class="py-24">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-5">
            <div class="xl:mt-32">
                <h2 class="mb-6">Active engagement</h2>
                <p class="mb-4">A alternation between learning and activities within an engaging educational path specially designed for mobile..</p>
                <p class="mb-4">Enjoy varied and fun exercises such as drag and drop, swipes, qcm and many more.</p>
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-7">
            <div class="mb-12 lg:mb-0 xl:mr-14">
                <img class="inline" src="images/quiz.png" alt="alternative" />
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 2 -->


<!-- Details 3 -->
<div class="pt-16 pb-12">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
        <div class="lg:col-span-7">
            <div class="ml-14">
                <img class="inline" src="images/progression.png" alt="alternative" />
            </div>
        </div> <!-- end of col -->
        <div class="lg:col-span-5">
            <div class="mb-16 lg:mb-0 xl:mt-16">
                <h2 class="mb-6">Learn at your own pace</h2>
                <p class="mb-4">The training courses specially designed for mobile use are divided into short and fun modules for step-by-step progression.</p>
                <p class="mb-4">Repeat the activities as many times as necessary to obtain the certificate.</p>
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of container -->
</div>
<!-- end of details 3 -->

<!-- Conclusion -->
<div id="Télécharger" class="basic-5">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2">
        <div class="mb-16 lg:mb-0">
            <img src="images/swipe.png" alt="alternative" />
        </div>
        <div class="lg:mt-24 xl:mt-44 xl:ml-12">
            <p class="mb-9 text-gray-800 text-3xl leading-10">Download now on iOS or Android.</p>
            <a class="btn-solid-lg" href="{{ page.meta.apple_link if page.meta.apple_link else config.extra.apple_link }}"><i class="fab fa-apple"></i>Download</a>
            <a class="btn-solid-lg" href="{{ page.meta.google_link if page.meta.apple_link else config.extra.google_link }}"><i class="fab fa-google-play"></i>Download</a>
        </div>
    </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of conclusion -->

{{ super() }}

{% endblock %}

{% block content %}
{% endblock %}
